.tab-app {
  background-color: rgb(75, 149, 213);
  width: 100%;
  padding: 12px;
  border-radius: 8px 8px 0 0;
  transition: 0.2s;
  cursor: pointer;

  p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
  }

  &:hover {
    filter: brightness(1.05);
  }

  &-primary {
    background-color: var(--primary);
  }
  &-purple {
    background-color: var(--purple);
  }
  &-pink {
    background-color: var(--pink);
  }
  &-secondary {
    background-color: var(--secondary);
  }
  &-light-blue {
    background-color: var(--light-blue);
  }
  &-light-green {
    background-color: var(--light-green);
  }
  &-light-red {
    background-color: var(--light-red);
  }
  &-error {
    background-color: var(--negative);
  }
}
.active-tab {
  padding-top: 40px;
}
