.task-app {
  position: relative;
  background-color: var(--glass);
  padding: 12px 12px 12px 24px;
  border: solid 2px #fff;
  width: 550px !important;
  min-height: 85px;
  border-radius: 15px;
  overflow: hidden;

  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(8px) saturate(180%);

  p {
    font-size: 18px;
  }
}
.del-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 4px;
  border-radius: 4px;
  background-color: var(--dark-red);
  color: var(--white);

  &:active {
    transform: translate(3px, 6px);
  }
  &:hover {
    filter: brightness(1.1);
  }
}

.left-bar {
  width: 12px;
  height: 100%;
  background-color: var(--primary);

  position: absolute;
  top: 0;
  left: 0;

  &-primary {
    background-color: var(--primary);
  }
  &-purple {
    background-color: var(--purple);
  }
  &-pink {
    background-color: var(--pink);
  }
  &-secondary {
    background-color: var(--secondary);
  }
  &-light-blue {
    background-color: var(--light-blue);
  }
  &-light-green {
    background-color: var(--light-green);
  }
  &-light-red {
    background-color: var(--light-red);
  }
  &-error {
    background-color: var(--negative);
  }
}
