.header {
  position: relative;
  background-color: var(--white);
  padding: 24px 16px;
  border-radius: var(--rounded);

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 475px) {
  .header {
    padding: 6px;
  }
}
