:root {
  --positive: #2cbe82;
  --negative: #da2b40;
  --white: #fff;
  --light: #eaeaea;
  --dark: #1a1f29;

  --primary: #6688ff;
  --secondary: #ffa246;
  --light-green: #35e185;
  --purple: #b266ff;
  --light-blue: #66d1ff;
  --pink: #ff66d4;
  --light-red: #ff6666;
  --dark-red: #98031e;

  --negative-60: hsla(353, 70%, 51%, 0.8);
  --primary-60: hsla(227, 100%, 70%, 0.4);
  --secondary-60: hsla(30, 100%, 64%, 0.4);
  --light-green-60: hsla(148, 74%, 55%, 0.4);
  --purple-60: hsla(270, 100%, 70%, 0.4);
  --light-blue-60: hsla(198, 100%, 70%, 0.4);
  --pink-60: hsla(317, 100%, 70%, 0.4);
  --light-red-60: hsla(0, 100%, 70%, 0.4);
  --dark-red-60: hsla(349, 96%, 30%, 0.4);
  --glass: rgba(255, 255, 255, 0.542);
}
