@import "./reset";
@import "./colors";
@import "./design-pattern";
body {
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--dark);
}

select,
input,
option,
textarea {
  cursor: pointer;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  min-height: 100vh;

  margin: 0 auto;
  padding: var(--gutter);
}

@media (max-width: 1366px) {
  html {
    font-size: 12px;
  }
}
