.main {
  padding: 24px 16px;
  min-height: 80vh;

  background-image: url("../../../assets/logoUol.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}
.task-group {
  overflow-x: auto;
  padding-bottom: 20px;
}

.collision-group {
  display: flex;
  gap: 20px;
}
