.main {
  padding: 24px 16px;
  min-height: 80vh;

  background-image: url("../../../assets/logoUol.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}
