.main {
  padding: 24px 16px;
  min-height: 80vh;

  background-image: url("../../../assets/logoUol.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
}
.task-group {
  padding-bottom: 20px;
}

.collision-group {
  position: relative;
  padding-bottom: 20px;
  overflow-x: auto;
  width: auto;
  display: flex;
  gap: 20px;
}

.line-error {
  position: absolute;
  width: 100vw;
  z-index: 10;
  top: 50px;
  padding: 2px;
  background-color: #ff6d6d;
}
